body 
{
    background-color: #0D1321;
    color: #F0EBD8;
    font-family: Sans-serif;
}

.letter
{
    color: black;
    font-size: 54px;
    width: 54px;
    text-align: center; 
    text-transform:uppercase;
}

.letter_wrong
{
    background-color: red;
}

.letter_hint
{
    background-color: yellow;
}

.letter_correct
{
    background-color: green;
}
