body 
{
    background-color: #28190E;
    color: #FBF5F3;
    font-family: 'Lato', sans-serif;
    padding-top: 5rem;
}

h1
{
    font-size: 100px;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
  
.letter
{
    color: black;
    font-size: 54px;
    background-color: #FBF5F3;
    width: 74px;
    height: 74px;
    text-align: center; 
    text-transform:uppercase;
}

.letter_wrong
{
    /* background-color: #D64045; */
    background-color: #BF4342;

}

.letter_hint
{
    /* background-color: #EDF060; */
    background-color: #FFB20F;
    
}

.letter_correct
{
    /* background-color: #1B998B; */
    background-color: #5CF64A;
}
