{% extends 'base.html' %}

{% block header_breadcrumb %}
<li class ="h2 breadcrumb-item">
    <a href="/admin">Ylläpito</a>
</li>
<li class ="h2 breadcrumb-item">
    Lisää sanoja
</li>
{% endblock %}


{% block content %}
<p>Lisää sanoja -työkalu on hyödyllinen kun haluat lisätä kerralla useita sanoja. Sanat voi lisätä suoraan tiettyihin teemoihin, tai ne voi lisätä ilman teemaa ja lajitella teemoihin toisella työkalulla.</p>

<ul class="add_word_status">
    {% if accepted_words|length > 0 %}
    <li>Lisättiin {{accepted_words|length}} sanaa.</li>
    {%endif%}
    {% if rejected_words|length > 0 %}
    <li>Hylättiin {{rejected_words|length}} sanaa. Katso hylätyt sanat alta. Tarkista että sana on pituudeltaan 3-8 merkkiä, ja että siinä ei ole mitään erikoismerkkejä. Vain suomalaiset aakkoset sallitaan.</li>
    {%endif%}
</ul>

<form action="add" method="post">

    <div class="dropdown mb-3 mt-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Valitse teemoja
        </button> {{ info_tooltip("theme_tooltip", "Valitse teemat johon sanat lisätään. Yhtään teemaa ei tarvitse välttämättä valita." ) }}

        <ul class="dropdown-menu px-3" aria-labelledby="dropdownMenuButton1">    
                {% for theme in themes: %}
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="{{'theme_' ~ theme.id}}" id="{{'theme_' ~ theme.id}}">
                    <label class="form-check-label" for="{{'theme_' ~ theme.id}}">
                        {{ theme.name }}
                    </label>
                </div>
                {% endfor %}
        </ul>
    </div>

    <div class="mb-4">
        <label for="word_list" class="form-label">Sanalista
        {% if rejected_words|length > 0 %}
        (sisältää hylätyt sanat)
        {% endif %}
        </label>{{ info_tooltip("list_tooltip", "Laita jokainen sana omalle rivilleen." ) }}
        <textarea class="form-control" id="word_list" name="word_list" rows="10">
            {%- for word in rejected_words: -%}
                {{word ~ '\n'}}
            {%- endfor -%}
        </textarea>
    </div>

    <input type="hidden" value="on" name="do_add">
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">

    <button type="submit" class="btn btn-primary">Lisää</button>

</form>

{% endblock %}

