{% extends 'base.html' %}

{% block header_breadcrumb %}
<li class ="h2 breadcrumb-item">
    Ylläpito
</li>
<li class ="h2 breadcrumb-item">
    Teemat
</li>
<li class ="h2 breadcrumb-item">
    {{theme.name}}
</li>
{% endblock %}

{% block content %}
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th class="th-lg">Sana</th>
                <th class="th-lg"></th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for word in words: %}
            <tr>
                <th class="align-middle" scope="row">
                    {{word.word}}
                </th>
                <td><form action="{{theme.id}}/remove/{{word.id}}" method="POST"><button type="submit" class="btn btn-light">Poista</button></form></td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

    <form action="{{theme.id}}/remove" method="POST"><button type="submit" class="btn btn-danger">Poista Teema</button></form>

{% endblock %}

