{% extends 'base.html' %}

{% block header_breadcrumb %}
<li class ="h2 breadcrumb-item">
    Ylläpito
</li>
<li class ="h2 breadcrumb-item">
    Sanat
</li>
{% endblock %}

{% block content %}

    {% if error %}
        <ul><li>{{error}}</li></ul>        
    {% endif %}

    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th class="th-lg">Poista</th>
                <th class="th-lg">Sana</th>
                {% for theme in themes: %}
                <td class="th-lg">{{theme.name}}</th>
                {% endfor %}
                <td></td>
                <!-- <th class="th-lg"></th> -->
            </tr>
        </thead>
        <form id="manage_words" action="words/remove" method="POST"><button type="submit" class="btn btn-danger">Poista Valitut</button></form>
        <tbody class="table-group-divider">
            {% for word in words: %}
            <tr>
                <td class="align-middle">
                    <label>
                        <input form="manage_words" class="form-check-input" type="checkbox" value="" id="{{'select_' ~ word.id}}" name="{{'select_' ~ word.id}}" >
                    </label>
                </td>
                <th class="align-middle" scope="row">{{word.word}}</th>
                {% for theme in themes: %}
                <td class="align-middle">
                    <label>
                        <input class="form-check-input" type="checkbox" value="" id="{{'word_' ~ word.id ~ '_theme_' ~ theme.id }}" name={{'word_' ~ word.id ~ '_theme_' ~ theme.id }} >
                    </label>
                </td>
                {% endfor %}
                <!-- <td class="align-middle"><form action="words/remove/{{word.id}}" method="POST"><button type="submit" class="btn btn-danger">Poista</button></form></td> -->
            </tr>
            </a>
            {% endfor %}
        </tbody>

    </table>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body text-dark">
          Tallennettu
        </div>
      </div>
    </div>    

    <script>
        function onFailure()
        {
            alert( "Jotain meni vikaan." );
        }

        $(document).ready(function() {

            $.get('words/word_themes')
                .done( function(data) {
                    for ( const word_theme of data.word_themes )
                    {
                        $("#word_" + word_theme.word_id + "_theme_" + word_theme.theme_id)[0].checked = true;
                    }
                } );

            $(':checkbox').change(function() {     

                if ( !this.id.startsWith("word_") )
                    return;

                id_parts = this.id.split("_");
                word_id = id_parts[1]
                theme_id = id_parts[3]
                if(this.checked) 
                {                            
                    $.post( 'words/add_theme', { 'word_id' : word_id, 'theme_id': theme_id } )
                        .fail( function(cb) { return function() { onFailure(); cb.checked = false; }; }(this) )
                        .done( function(r) {  $('.toast').toast('show'); } )
                }
                else
                {
                    $.post( 'words/remove_theme', { 'word_id': word_id, 'theme_id': theme_id } )
                        .fail( function(cb) { return function() { onFailure(); cb.checked = true; }; }(this) )
                        .done( function(r) {  $('.toast').toast('show'); } )
                }
            });
        })
    </script>


{% endblock %}

