<!doctype html>
<head>
<title>Sanapeli</title>
<script src="static/js/jquery-3.6.0.min.js"></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap" rel="stylesheet">

<link rel="stylesheet" href="static/css/bootstrap.min.css">
<link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <main role="main" class="container">
        <div class="starter-template">
            <section class="content">    
                <header>
                    <h1>Sanapeli</h1>
                </header>
                {% block content %}{% endblock %}
            </section>

        </div> 
    </main>

    <script src="static/js/bootstrap.min.js"></script>
</body>
