<!doctype html>
<head>
<title>Sanapeli</title>
<script src="/static/js/jquery-3.6.0.min.js"></script>

<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/style.css">
</head>

<body class="text-white bg-dark">
    <main role="main">
        <div class="container">
                <header class="text-white border-bottom pt-3 mb-4">
                    <nav style="--bs-breadcrumb-divider: '»';"aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class ="h2 breadcrumb-item">
                                Sanapeli
                            </li>
                            {% block header_breadcrumb %}{% endblock %}
                        </ol>
                    </nav>
                </header>
        </div>

        <div class="container">
            <section class="content">    

                {% if error %}
                <div class="mb-3 container border mb-4 pt-3 px-4 pb-4">
                    {{error|safe}}
                </div>
                {%endif%}
                
                {% if message %}
                <div class="mb-3 container border mb-4 pt-3 px-4 pb-4">
                    {{message|safe}}
                </div>
                {%endif%}
        
                {% block content %}{% endblock %}
            </section>
        </div> 
    </main>

    <script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
