{% extends 'base.html' %}

{% block header_breadcrumb %}
<li class ="h2 breadcrumb-item">
    <a href='/game'>Pelaa</a>
</li>
<li class ="h2 breadcrumb-item">
    {{theme.name}}
</li>
{% endblock %}

{% block content %}

  <input type="hidden" id="theme_id" value="{{theme.id}}">
  <input type="hidden" id="csrf_token" value="{{csrf_token}}">

  <script src="static/js/game.js"></script>

  <p id="text_game_status">Hetki...</p>

  <!-- <h1>Pisteet: <div id="points"></div></h1> -->
  <h1 id="timer">00:00</h1>

  <div id="game_area"></div>

{% endblock %}

