{% extends 'base.html' %}

{% block content %}
  <p> 

    <div class="container border mb-4 pt-3 px-4">
      <h3 class="mb-3">Aloita Peli</h3>
      {% for theme in themes: %}
      <form action="/game/{{ theme.id }}" method="POST"><input class="btn btn-primary mb-2" type="submit" value="{{ theme.name }}"></form>
      {% endfor %}
      <div class="py-2"></div>
    </div>

    <form action="/admin" method="POST"><input class="btn btn-secondary" type="submit" value="Ylläpito"></form>
   </p>
{% endblock %}

