{% extends 'base.html' %}

{% block header_breadcrumb %}
<li class ="h2 breadcrumb-item">
    Kirjautuminen
</li>
{% endblock %}

{% block content %}

  <p>
    Sinun tulee olla kirjautunut sisään jotta voit pelata sanapeliä. Jos sinulla ei ole tunnusta, <a href="/auth/register">luo ensin tunnus</a>.
  </p>

  <p> 
      <form class="mb-3 container border mb-4 pt-3 px-4 pb-4" action="/auth/login" method="post">
        <div>
          <label for="account_name" class="form-label">Käyttäjänimi</label>
          <input type="text" class="form-control" id="account_name" name="account_name">
        </div>
        <div class="mb-3">
          <label for="account_pass" class="form-label">Salasana</label>
          <input type="password" class="form-control" id="account_pass" name="account_pass">
        </div>

        <button type="submit" class="btn btn-primary mb-3">Kirjaudu</button> <br>
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        <a href="/auth/register">Luo tunnus</a>
      </form>
   </p>
{% endblock %}

