{% extends 'base.html' %}

{% block header_breadcrumb %}
<li class ="h2 breadcrumb-item">
    Luo tunnus
</li>
{% endblock %}

{% block content %}
  <p>
    <form action="register" method="post" class="mb-3 container border mb-4 pt-3 px-4 pb-4">
      <div>
        <label for="account_name" class="form-label">
          Käyttäjänimi
          {{ info_tooltip("username_tooltip", "Käyttäjänimen tulee olla pituudeltaan 3-12 merkkiä ja saa sisältää vain suomalaisia aakkosia." ) }}
        </label>
        <input type="text" class="form-control" id="account_name" name="account_name">
      </div>
      <div class="mb-3">
        <label for="account_pass0" class="form-label">
            Salasana            
            {{ info_tooltip("password_tooltip", "Salasanan tulee olla yli 8 merkkiä pitkä, ja sisältää ainakin kolmea seuraavasta: Pieniä kirjaimia, Isoja kirjaimia, Numeroita tai Erikoismerkkejä tai välilyöntejä." ) }}
        </label>
        <input type="password" class="form-control" id="account_pass0" name="account_pass0">
      </div>      
      <div class="mb-3">
        <label for="account_pass1" class="form-label">Salasana uudestaan</label>
        <input type="password" class="form-control" id="account_pass1" name="account_pass1">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="account_admin" name="account_admin">
        <label class="form-check-label" for="account_admin">Ylläpitäjän oikeudet</label>
      </div>
      <button type="submit" class="btn btn-primary mb-3">Luo tunnus</button> <br>
      <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
    </form>
   </p>

{% endblock %}

